<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2017-04-12-florianlionel-site-test.md</key>
			<dict>
				<key>lastModification</key>
				<real>514295424.946172</real>
				<key>version</key>
				<dict>
					<key>68f379d768734d3e6339ec46eb81df05b9c7fff6189fdcfd2f58e0347478fbbc</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-12-welcome-to-jekyll.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>514295424.94617403</real>
				<key>version</key>
				<dict>
					<key>68f379d768734d3e6339ec46eb81df05b9c7fff6189fdcfd2f58e0347478fbbc</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-18-another-test-post.md</key>
			<dict>
				<key>lastModification</key>
				<real>514295424.94617498</real>
				<key>version</key>
				<dict>
					<key>68f379d768734d3e6339ec46eb81df05b9c7fff6189fdcfd2f58e0347478fbbc</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-18-test-nr1.md</key>
			<dict>
				<key>lastModification</key>
				<real>514295424.94617403</real>
				<key>version</key>
				<dict>
					<key>68f379d768734d3e6339ec46eb81df05b9c7fff6189fdcfd2f58e0347478fbbc</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-18-test-nr2.md</key>
			<dict>
				<key>lastModification</key>
				<real>514295424.94617301</real>
				<key>version</key>
				<dict>
					<key>68f379d768734d3e6339ec46eb81df05b9c7fff6189fdcfd2f58e0347478fbbc</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-18-test-nr3.md</key>
			<dict>
				<key>lastModification</key>
				<real>514295424.94617498</real>
				<key>version</key>
				<dict>
					<key>68f379d768734d3e6339ec46eb81df05b9c7fff6189fdcfd2f58e0347478fbbc</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-19-ulysses-integration-test.md</key>
			<dict>
				<key>lastModification</key>
				<real>514295455.57136703</real>
				<key>version</key>
				<dict>
					<key>68f379d768734d3e6339ec46eb81df05b9c7fff6189fdcfd2f58e0347478fbbc</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2017-04-19-ulysses-integration-test.md</string>
		</array>
		<array>
			<string>2017-04-12-florianlionel-site-test.md</string>
		</array>
		<array>
			<string>2017-04-18-test-nr2.md</string>
		</array>
		<array>
			<string>2017-04-18-test-nr1.md</string>
		</array>
		<array>
			<string>2017-04-12-welcome-to-jekyll.markdown</string>
		</array>
		<array>
			<string>2017-04-18-another-test-post.md</string>
		</array>
		<array>
			<string>2017-04-18-test-nr3.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>68f379d768734d3e6339ec46eb81df05b9c7fff6189fdcfd2f58e0347478fbbc</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
